/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*CSS Setup*/

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }


/*NavBar*/

p{
  padding: 10px;
}

 body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   background-image: url(background.png);
 }

 .header {
   background: transparent;
   color: #000;
 }

 .header-opaque {
   background: #001f3f;
   color: #fff;
 }

 .header a {
   display: block;
   padding: 10px 20px;
 }

 .header-nav {
   margin: 0 auto;
   width: 900px;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
 }

 .header-logo {
   float: left;
   border-right: 1px solid #ccc;
   padding: 15px;
   font-weight: 700;
   cursor: pointer;
 }

 .header-logo:hover {
   background: #0074D9;
 }

 .header-list {
   float: right;
   cursor: pointer;
 }

 .header-list > li {
   font-size: 14px;
   float: left;
   padding: 16px;
   border-left: 1px solid #ccc;
 }

 .header-list > li:hover {
   background: #0074D9;
 }

/*Notifications in NavBar*/

.hidden {
  display: none;
}

 .badge {
   display: inline;
   font-size: 14px;
   padding: 1px 6px;
   background: #000;
   border-radius: 50%;
 }

 li:hover .badge {
   background: #f00;
 }

 .header {
   position: relative;
   z-index: 1;
 }

 .header-list > li {
   position: relative;
 }

 .header-notifications {
   display: none;
   position: absolute;
   margin-top: 16px;
   left: -1px;
   font-size: 14px;
   white-space: nowrap;
   background: #fff;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   overflow: hidden;
 }

 li:hover .header-notifications {
   display: block;
 }

 .header-notifications > li {
   border-top: 1px solid #ccc;
   color: #000;
   width: 120px;
   padding: 5%;
 }

 .header-notifications > li:hover {
   background: #eee;
 }


/*Forms*/

.form {
  margin: 0 0 20px 0;
}

.form-thumb {
  float: left;
}

.form-fieldset {
  float: left;
  margin: 0 0 0 20px;
  padding: 19px;
  width: 500px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  margin: 10px 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 300;
  padding: 0 0 5px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.input > input:focus,
.input > textarea:focus {
  border-color: #0074D9;
}

.input > textarea {
  height: 120px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #3D9970;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 #001f3f;
}

.submit > button:hover {
  background: #39CCCC;
}

.submit > button:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}

.back-button {
  float: right;
}

.button-alternative {
  padding: 0 0 0 5px;
}

.button-alternative strong {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-alternative strong:hover {
  color: #f00;
}

.signup-label{
  font-weight: 300;
}

/*Splash*/

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1500px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-main {
  float: left;
  width: 90%;
  min-height: 800px;
  padding: 20px;
}

.content-main > h1 {
  text-align: center;
  margin-top: 7%;
  font-weight: 300;
  font-size: 36px;
  margin-left: 8%;
}

.city-input {
  display: block;
  margin-top: 20%;
  width: 108.5%;
  margin-left: -2%;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border: 1px solid #ccc;
  float: left;
}

.city-input > label {
  display: block;
  font-weight: 400;
  padding: 0 0 5px 0;
}

.city-input > input,
.city-input > textarea {
  display: block;
  float: left;
  background: #fff;
  margin-left: calc(50% - 250px);
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.city-input > input:focus,
.city-input > textarea:focus {
  border-color: #0074D9;
}

.city-input > textarea {
  height: 120px;
}

.city-submit {
  float: left;
  padding-left: 10px;
}

.city-submit > button {
  position: relative;
  float: left;
  padding: 11px 20px;
  color: #fff;
  background: #3D9970;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 #001f3f;
}

.city-submit > button:hover {
  background: #39CCCC;
}

/*Sign In Modal*/


 .modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.pac-container{
  z-index: 2000;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -280px;
  width: 480px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}



/*Index*/

.index {
  position: relative;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.index-filters {
  padding: 2%;
  float: left;
  width: 20%;
  min-height: 600px;
  border-right: 1px solid #ccc;
}

.index-main {
  float: left;
  width: 75%;
  min-height: 600px;
}


.index-item {
  border: thin solid #ccc;
  border-radius: 5px;
  margin-left: 8%;
  margin-bottom: 3%;
  height: 140px;
  width: 14%;
  background: #f5f5f5;
  padding: 15%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  cursor: pointer;
  list-style: none;
  float: left;
  color: #000;
  font-weight: 400;
}

.index-item-detail {
  margin-top: 2%;
  margin-bottom: 10%;
  margin-right: 21%;
}

.index-item:hover {
  background-color: #DDDDDD;
  color: white;
}

.index-main > h2 {
  font-size: 24px;
  font-weight: 300;
  width: 77%;
  margin: 5%;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.filter-label{
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #AAAAAA;
}

.signup-filter-label{
  position: relative;
  font-size: 16px;
  margin: 9%;
  font-weight: 300;
  color: #AAAAAA;
}

.filter-component{
  width: 85.4%;
  padding: 10px;
  padding-bottom: 30%;
  z-index: 1;
  border-top: 1px solid #ccc;
}

.toggleButtonLeft{
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
  float: left;
}

.toggleButtonRight{
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
  float: left;
}

.toggleButtonLeft > button {
  position: relative;
  padding: 10px 20px;
  color: #ccc;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-right: 1px solid #ccc;
}

.toggleButtonRight > button {
  position: relative;
  padding: 10px 20px;
  color: #ccc;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-left: 1px solid #ccc;
}

.page-selector{

}

/*Show*/

.show {
  position: relative;
  margin: 0 auto;
  background: transparent;
  min-width: 1080px;
  width: 61.8%;
  color: #000;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.show-header {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  height: 200px;
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.show-header > p {
  position: relative;
  padding: 0.2%;
  top: 72%;
  left: 20%;
  font-size: 16px;
  font-weight: 400;
}

.show-header > h1 {
  position: absolute;
  bottom: 28%;
  left: 20%;
  font-size: 40px;
  line-height: 1;
  font-weight: 300;
  text-shadow: #000 0 0 10px;
}

.show-header-message-button {
  position: absolute;
  bottom: 20px;
  right: 14.6%;
  color: #000;
  background: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.show-header-message-button:hover {
  background: #eee;
}

.show-sidebar {
  padding: 2%;
  float: left;
  width: 14.64%;
  min-height: 601px;
  border-right: 1px solid #ccc;
  background: #fff;
}

.show-main {
  background: #fff;
  min-height: 644px;
  float: right;
  width: 81.25%;
}

.show-main > h2:first-child {
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  min-height: 320px;
  text-align: center;
  border-bottom: 1px solid #000;
  background: #fff;
}

.show-main > h2 {
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  min-height: 320px;
  text-align: center;
  background: #fff;
}

.profile-picture {
  display: block;
  margin-top: -90%;
  margin-bottom: 5%;
  border: 1px solid #000;
  background: #000;
  border-radius: 5px;
  position: relative;
}

.profile-info {
  margin: 20px 0;
}

.profile-info > h2 {
  font-weight: 300;
  font-size: 24px;
}

.profile-info > p {
  margin: 20px 0;
}

.profile-nav {
  margin: 20px 0;
  font-size: 14px;
}

.profile-nav > li {
  border-bottom: 1px solid #fff;
  padding: 4%;
}

.profile-nav > li:first-child {
  border-top: 1px solid #fff;
  padding: 4%;
}

.profile-nav a {
  display: block;
  padding: 5px;
  font-weight: 300;
}

.profile-nav a:hover {
  background: #eee;
}

.messenger-type-selector{
  position: relative;
  font-size: 16px;
  margin: 5%;
  margin-left: 0%;
  font-weight: 300;
  color: #AAAAAA;
}

/*Footer*/

.footer {
  width: 100%;
  margin: 0 auto 0px auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-copy {
  margin-left: 30%;
  display: block;
  padding: 20px;
  float: left;
}

.footer-links {
  margin-right: 30%;
  padding: 20px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0 0 0 20px;
}

.footer a:hover {
  color: #000;
}
